<div class="row">
<center>

<!-- Burgers available to eat using POST -->
<div class="col-md-6">
  <h3 class="middle_top">Eat Up!</h3>
<div id="eatup">
  {{#each burgers}}
  {{#unless devoured}}
      <form action="burger/update/{{id}}" method="POST">
        <div class="input-group">
      <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
      <span class="input-group-btn">
        <button type="submit"class="btn btn-default" style="background-color: #ff0000">Help Yourself!!</button>
      </span>
    </div>
      </form>
  {{/unless}}
  {{/each}}
</div>
</div>


<!-- Burgers that have been devoured -->
<div class="col-md-6" id="eaten">
<h3 class="middle_top">Sorry, these have been devoured!</h3>
<div id="gone">
  {{#each burgers}}
  {{#if this.devoured}}
<div class="input-group">
  <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
  <span class="input-group-btn">
    <button class="btn btn-info gone-button" style="background-color: #0000ff" type="button">That was yummy!</button>
  </span>
</div>
  {{/if}}
  {{/each}}

</div>
</div>

</center>
</div>
